## Extract Tranform  Load

ETL, which stands for Extract, Transform, Load, is a crucial process in data management. It involves retrieving data from various sources, modifying it to fit business needs or target system requirements, and then loading it into a central location

In [ ]:
import pandas as pd
df =pd.read_csv('PRAC_DATA.csv')
#pull up the first five observations
df.head()
#pull up the info on the table
df.info()

In [ ]:
import pandas as pd
df =pd.read_excel('PRAC_DATA2.xlsx')

In [ ]:
# for a specific worksheet in the excel file
import pandas as pd
xl = pd.ExcelFile('PRAC_DATA2.xlsx')
xl.sheet_names
df = xl.parse("Sheet1")
df.head()

In [ ]:
from zipfile import ZipFile    # Import zipfile


file = 'Testzip2.zip'          # Full path to the zip file, or simply the file name 
                               # if the file is in your current working directory
zip_file = ZipFile(file, 'r')  # Read zipfile and extract contents
zip_file.printdir()            # List files in the zip files
zip_file.extractall()          # Extract files in the zip file

In [ ]:
import pandas as pd
xl = pd.ExcelFile('PRAC_DATA7.xlsx')
xl.sheet_names
df = xl.parse("Sheet1")
df.head()

In [ ]:
text_file = open('iris_data.txt','r') 
text_file

In [ ]:
text_file.read()    # Read complete information from the file

In [ ]:
df =pd.read_csv('iris_data.txt', sep=",", header=None, names=['Sepal.Length','Sepal.Width' ,'Petal.Length' ,'Petal.Width','Species'])

In [ ]:
df

In [ ]:
import json


file = open('Test2.json')    # Full path to the json file, or simply the file name 
                               # if the firle is in your current working directory
json_file = json.load(file)    # Returns JSON object as a dictionary

In [ ]:
json_file

In [ ]:
pd.DataFrame(json_file.items(), columns=['Information', 'Values'])

## Databases

In [ ]:
import pyodbc

In [ ]:
import sqlalchemy as sa

In [ ]:
from sqlalchemy import create_engine

In [ ]:
Server = 'DESKTOP-22G7PV9'
Database = 'Test'
Driver = 'SQL Server'
Database_Con = f'mssql://@{Server}/{Database}?driver={Driver}'

In [ ]:
engine=create_engine(Database_Con)
con=engine.connect()

In [ ]:
df=pd.read_sql_query("Select * from[dbo].[Table_1]",con)
df

In [ ]:
#incert data into MS SQL Sever
df =pd.read_csv('iris_data.txt', sep=",", header=None, names=['Sepal.Length','Sepal.Width' ,'Petal.Length' ,'Petal.Width','Species'])


#Using sqlalchemy to enter data in MS Sql server (much easier)

df.to_sql('Table_NameRt', con=engine, if_exists='append', index=False)

In [ ]:
con.close() #close

In [ ]:
import pyodbc

In [ ]:
SERVER_NAME = 'DESKTOP-22G7PV9'
DATABASE_NAME = 'Test'
USERNAME = 'DESKTOP-22G7PV9\DELL'

In [ ]:
conn= pyodbc.connect('Driver={SQL Server};' 'Server=DESKTOP-22G7PV9;' 'Database=Test;' 'Trusted_connection=yes')

In [ ]:
cursor=conn.cursor()

In [ ]:
query = "SELECT * FROM Table_1"
cursor.execute(query)

In [ ]:
#enter new data
cursor.execute('''
                INSERT INTO Table_1 (F_Name, L_Name, Wages)
                VALUES
                ('Ti','Chair',150)
                ''')
conn.commit()

In [ ]:
#Lets verify here using Pandas
import pandas as pd
df=pd.read_sql_query("Select * from[dbo].[Table_1]",conn)
df

In [ ]:
conn.close() #close

## Data wrangling

Data wrangling is the process of transforming raw data into a more structured format.  
organizing data by numerical data rather than categorical values or organizing
data in tables rather than columns

We will  use Pandas

In [ ]:
dummy_data1 = {
        'id': ['1', '2', '3', '4', '5'],
        'Feature1': ['A', 'C', 'E', 'G', 'I'],
        'Feature2': ['B', 'D', 'F', 'H', 'J']}

df1 = pd.DataFrame(dummy_data1, columns = ['id', 'Feature1', 'Feature2'])

df1

In [ ]:
dummy_data2 = {
        'id': ['1', '2', '6', '7', '8'],
        'Feature3': ['K', 'M', 'O', 'Q', 'S'],
        'Feature4': ['L', 'N', 'P', 'R', 'T']}

df2 = pd.DataFrame(dummy_data2, columns = ['id', 'Feature3', 'Feature4'])

df2

# Concat

Concatenate pandas objects along a particular axis.

In [ ]:
row_concat = pd.concat([df1, df2])
row_concat

In [ ]:
#Filter at the 0 index

row_concat.loc[0]

In [ ]:
#for positional indexing - below is an example of getting the first observation

row_concat.iloc[0]

In [ ]:
#reset the index for use

row_concat_reset = pd.concat([df1, df2], ignore_index=True)
row_concat_reset

In [ ]:
row_concat_reset['id']

# Merging

Similar to a database’s join operations. It’s the most flexible operations of combining tables.
Use its when you want to combine data objects based on one or more keys, most useful 
when you want to combine rows that share data.

You can achieve both many-to-one and many-to-many joins with merge().
*this can cause duplicates in your data

Types of merge:

-inner
-outer
-left
-right

In [ ]:
#inner join

inner= pd.merge(df1,df2, on=["id"])
inner
inner.shape

In [ ]:
#Outer Join

outer= pd.merge(df1,df2, how="outer", on=["id"])
outer
outer.shape

In [ ]:
#Left Join
left = pd.merge(df1,df2,  how="left", on=["id"])
left

In [ ]:
#right Join
right= pd.merge(df1,df2,  how="right", on=["id"])
right

# Converting data types in dataframes

In [ ]:
# converting all columns to string type
df1 = df1.astype(str)
df1.dtypes

In [ ]:
# sample dataframe
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': ['a', 'b', 'c', 'd', 'e'],
    'C': [1.1, '1.0', '1.3', 2, 5]})
 
# using dictionary to convert specific columns
convert_dict = {'A': int,
                'C': float
                }
 
df = df.astype(convert_dict)
print(df.dtypes)

In [ ]:
df1.dtypes
# using apply method
df1[['id']] = df1[['id']].apply(pd.to_numeric)
df1.dtypes

# Create a new column

In [ ]:
#using lambda

df1=df1.assign(id2 = lambda x: (x['id']+1))
df1

In [ ]:
df1 = df1.assign(nid=lambda row: row.id * 1.5)
df1

In [ ]:
df1['brand_new']= df1['id2']+df1['nid']
df1

# Subset or drop columns

In [ ]:
#drop column

del df1['brand_new']

In [ ]:
df1

In [ ]:
df1 = df1.drop(columns=['id2', 'nid'])

In [ ]:
#subset
#subset based on a condition

# subset of dataframe
above_2 = df1[df1["id"] > 2]
above_2

In [ ]:
#using the index

# Select rows 0, 1, 2 (row 3 is not selected)
df1[0:3]

In [ ]:
# Select the first 5 rows (rows 0, 1, 2, 3, 4)
df1[:5]

In [ ]:
# Syntax for iloc indexing to finding a specific data element
#dat.iloc[row, column]

df1.iloc[2, 2]

In [ ]:
df1[df1.id == 2]

# Transposing

In [ ]:
#using the melt function in Pandas  -  changes data table from wide to long or long to wide

#syntax
#DataFrame.melt(id_vars=None, value_vars=None, var_name=None, 
#               value_name='value', col_level=None, ignore_index=True)

In [ ]:
d1 = {"Name": ["Pankaj", "Lisa", "David"], "ID": [1, 2, 3], "Role": ["CEO", "Editor", "Author"]}

df = pd.DataFrame(d1)

print(df)

df_melted = pd.melt(df, id_vars=["ID"], value_vars=["Name", "Role"])

print(df_melted)

In [ ]:
#multiple columns as id

df_melted = pd.melt(df, id_vars=["ID", "Name"], value_vars=["Role"])
print(df_melted)

In [ ]:
df_melted = pd.melt(df, id_vars=["Name"], value_vars=["Role"])
print(df_melted)

In [ ]:
# unmelt - get to the orginal dataframe
d1 = {"Name": ["Pankaj", "Lisa", "David"], "ID": [1, 2, 3], "Role": ["CEO", "Editor", "Author"]}

df = pd.DataFrame(d1)

# print(df)

df_melted = pd.melt(df, id_vars=["ID"], value_vars=["Name", "Role"], var_name="Attribute", value_name="Value")

print(df_melted)

# unmelting using pivot()

df_unmelted = df_melted.pivot(index='ID', columns='Attribute')

print(df_unmelted)

In [ ]:
# in unmelete we need to reset the index

df_unmelted = df_unmelted['Value'].reset_index()
df_unmelted.columns.name = None
print(df_unmelted)

# Exporting data

After we complete our work we may want to export our results in an external file.

In [ ]:
df2 = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': ['a', 'b', 'c', 'd', 'e'],
    'C': [1.1, '1.0', '1.3', 2, 5]})

df2.to_csv('F:\YOUR DIRECTORY\data.csv' , sep=',')

In [ ]:
# writing to Excel
datatoexcel = pd.ExcelWriter('F:\YOUR DIRECTORY\CarsData1.xlsx')
 
# write DataFrame to excel
df2.to_excel(datatoexcel)
 
# save the excel
datatoexcel.save()