## Python Strings

In [1]:
s = 'Hello'
print(s[1])          ## e
print(len(s))        ## 2
print(s + ' there')  ## hi there

e
5
Hello there

In [ ]:
#The str() function converts values to a string form so they can be combined with other strings.

In [5]:
pi = 3.14
#text = 'The value of pi is ' + pi      ## NO, does not work
text = 'The value of pi is '  + str(pi)  ## yes
text

'The value of pi is 3.14'

In [ ]:
#You can assign a multiline string to a variable by using three quotes:

In [3]:
a = """All that is gold does not glitter,
not all those who wander are lost,
the old that is strong does not wither
deep roots are not reached by the frost."""
print(a)

All that is gold does not glitter,
not all those who wander are lost,
the old that is strong does not wither
deep roots are not reached by the frost.

In [7]:
a = "All that is gold does not glitter, \
not all those who wander are lost, \
the old that is strong does not wither, \
deep roots are not reached by the frost."

print(a)

All that is gold does not glitter, not all those who wander are lost, the old that is strong does not wither, deep roots are not reached by the frost.

In [ ]:
#To get the length of a string, use the len() function.

In [8]:

print(len(a))

150

In [9]:
#strings can be concatonated

a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [9]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [11]:
b = "Hello, World!"
print(b[2:5])

llo

In [12]:
b = "Hello, World!"
print(b[:5])

Hello

In [15]:
#Negative Indexing- using negative indexes to start the slice from the end of the string:
    
b = "Hello, World!"
print(b[-1])
print(b[-3])

!
l

In [17]:
#Formatted string literals
#You'll often see formatted string literals used in situations like:

value = 2.791514
print(f'approximate value = {value:.2f}')  # approximate value = 2.79

car = {'tires':4, 'doors':2}
print(f'car = {car}') # car = {'tires': 4, 'doors': 2}

approximate value = 2.79
car = {'tires': 4, 'doors': 2}

String Methods

A method is like a function, but it runs an object. If the variable a is a string, then the code s.lower() runs the lower() method on that string object and returns the result of all text to be lower case.

In [18]:
#The replace() method replaces a string with another string:
a = "Hello, World!"
print(a.replace("Hello", "Yo"))

Yo, World!

In [20]:
#a.lower(), a.upper() -- returns the lowercase or uppercase version of the string
a = "Hello, World!"
print(a.lower())
print(a.upper())

hello, world!
HELLO, WORLD!

In [ ]:
#The strip() method removes any whitespace from the beginning or the end

In [22]:
a = " Hello  ,   World! "
print(a.strip())

Hello  ,   World!

In [26]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [27]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [25]:
#Where in the text is the last occurrence of the string
txt = "Welcome to the class."

x = txt.rfind("class")

print(x)

15

In [2]:
# split column into two columns , Pandas

import pandas as pd
df = pd.DataFrame({
    'name': ['Alberto  Franco','Gino Ann Mcneill','Ryan  Parkes', 'Eesha Artur Hinton', 'Syed  Wharton'],
    'date_of_birth ': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})

print(df)


df[["first", "middle", "last"]] = df["name"].str.split(" ", expand = True)
print("\nNew DataFrame:")
print(df)

                 name date_of_birth    age
0     Alberto  Franco     17/05/2002  18.5
1    Gino Ann Mcneill     16/02/1999  21.2
2        Ryan  Parkes     25/09/1998  22.5
3  Eesha Artur Hinton     11/05/2002  22.0
4       Syed  Wharton     15/09/1997  23.0

New DataFrame:
                 name date_of_birth    age    first middle     last
0     Alberto  Franco     17/05/2002  18.5  Alberto          Franco
1    Gino Ann Mcneill     16/02/1999  21.2     Gino    Ann  Mcneill
2        Ryan  Parkes     25/09/1998  22.5     Ryan          Parkes
3  Eesha Artur Hinton     11/05/2002  22.0    Eesha  Artur   Hinton
4       Syed  Wharton     15/09/1997  23.0     Syed         Wharton