In [ ]:
%%html
<style>
table{float:left}
</style>

In [ ]:
#Execute Python code
print("Hello, World!")

In [ ]:
#Python Indentation 
#Indentation refers to the spaces at the beginning of a code line. indentation in Python is very important.

if 5 > 2:
  print("Five is greater than two!")

In [ ]:
if 5 > 2:
print("Five is greater than two!")

In [ ]:
if 5 > 2:
        print("Five is greater than two!")

In [ ]:
#Python Variables -  Python is an object Orientated Programming Language we store anything into objects

x = 5
y = "Hello, World!"

In [ ]:
#Python Variables  - Variables are containers for storing data values.

x = 4       # x is of type int
y = "Sally" # x is now of type str - String variables can be declared either by using single or double quotes
print(x)
print(y)

In [ ]:
#Case-Sensitive  

a = 4
A

In [ ]:
#Variable Names
#A variable name must start with a letter or the underscore character
#A variable name cannot start with a number
#A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
#Variable names are case-sensitive

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
2myvar = "John"
my-var = "John"
my var = "John"

In [ ]:
# Python allows you to assign values to multiple variables in one line:

x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

In [ ]:
#Python print() function is often used to output variables.

x = "Python is awesome"
print(x)

In [ ]:
x = "Python "
y = "is "
z = "awesome "
print(x, y, z)

print(x + y + z)

In [ ]:
#For numbers, the + character works as a mathematical operator
x = 5
y = 10
print(x + y)

In [ ]:
x = 5
y = "John"
print(x, y)

## Python Data Types

| Type of Data | Id  |
|:--------|:--------:|
|Text Type |	str  |
|Numeric Types: |	int, float, complex  |
|Sequence Types: |	 list, tuple, range |
|Mapping Type:  |	dict |
|Boolean Type: |	bool |

In [ ]:
x = "Hello World" #str 
type(x)

In [ ]:
x = 20   #int 
type(x)

In [ ]:
x = 20.5 #float 
type(x)

In [ ]:
x = 1j   #complex 
type(x)

In [ ]:
x = True  #bool 
type(x)

In [ ]:
x = range(6)  #range 
type(x)

In [ ]:
x = ["apple", "banana", "cherry"]  #list 
type(x)
x

In [ ]:
x = ("apple", "banana", "cherry")  #tuple 
type(x)

In [ ]:
x = {"name" : "John", "age" : 36}  #dict 
type(x)

## Python Operators

| Operator |	Name |	Example	|
|:--------|:--------:|:--------:|
|+	|Addition |	x + y|	
|-	|Subtraction |	x - y|	
|*	|Multiplication |	x * y|	
|/	|Division |	x / y	|
|%	|Modulus |	x % y	|
|**	|Exponentiation |	x ** y	|

## Python Assignment Operators

|Operator|Example|Same As|
|:--------|:--------:|:--------:|
|=	|x = 5	|x = 5|	
|+=	|x += 3	|x = x + 3	|
|-=	|x -= 3	|x = x - 3	|
|*=	|x *= 3	|x = x * 3|

# f-string Formatting

f-string is a literal string, prefixed with 'f' , which contains expressions inside braces. The expressions are replaced with their values.

In [ ]:
## calling the 'title' method which makes the first letter of every word upper
string = "Math is fun!"
print(f"{string.title()}")

In [ ]:
## declaring variables
name = "Statistical seminars"
type_of_company = "Educational"

## enclose your variable within the {} to display it's value in the output
print(F"{name} is an {type_of_company} meetup.")

## Functions and modules

Two types of functions:
    
Built-in library function: These are Standard functions in Python that are available to use.
User-defined function: We can create our own functions based on our requirements.

Parts of a function:

def - A function begins with " def "
name - def is followed by the function's name
parenthesis - the name is followed by a pair of parenthesis and a colon ():
              within the parenthesis there are arguments or parameters where values or objects are entered
              when the function is used later in the code.

body lines - Indented within the def are the "body" lines of code which make up the function.

When a function runs, the computer runs its body lines from top to bottom.

In [ ]:
def my_function():
  print("Hello from a function")

In [ ]:
my_function()

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")

In [ ]:
def my_function(x):
  return x + 1

# Invoke the function

print(my_function(2))      # Output: 3

In [ ]:
#Return multiple values

def square_point(x, y, z):
  x_squared = x * x
  y_squared = y * y
  z_squared = z * z
  # Return all three values:
  return x_squared, y_squared, z_squared

In [ ]:
square_point(2, 4, 5)

## Python Modules

A file containing a set of functions you want to include in your application or python session.  Modules also contains variables of all types (arrays, dictionaries, objects).  You create an alias when you import a module, by using the as keyword:

In [ ]:
#Re-naming a Module

import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

## Pandas dataframes

two-dimensional labeled data structures with columns of potentially different types.

In general, you could say that the pandas DataFrame consists of three main components: the data, the index, and the columns.

In [ ]:
#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

The dir() function is a built-in function to list all the function names (or variable names) in a module.

In [ ]:
x = dir(pd)
print(x)

## Import From Module

In [ ]:
You can choose to import only parts from a module, by using the from keyword.

In [ ]:
from math import pi
pi

In [ ]:
# but math is not established
math.pi

In [ ]:
import math as m
m.pi

In [ ]:
from math import pi as PI
PI

# For Loop

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

In [ ]:
languages = ['Swift', 'Python', 'Scala', 'R ']

# access items of a list using for loop
for language in languages:
    print(language)

In [ ]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
for element in row_1:
print(element)

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

# Built-in Functions

Python Functions is a block of statements that return the specific task.

In [ ]:
import pandas as pd

data = {
  "calories": [420, 380, 390, 380],
  "duration": [50, 40, 45,40]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

df['calories'].mean()
df['calories'].median()
df['calories'].mode()

In [ ]:
import inspect
print(inspect.getfullargspec(pd.DataFrame))

In [ ]:
type(df)

In [ ]:
list(df.columns)

In [ ]:
df.dtypes

# Missing data

A situation where no value is stored in an observation (element/cell) within a variable. 

This is a common occurrence that is present whenever analyzing data or creating statistical models  (either computationally or visually).

Why is this important?  

    Most statistical procedures require a complete set of estimates for each variable. 

    Missing data may distort inferences about the population being analyzed

    When the data set is incomplete the data analyst, researcher, or scientist needs to figure out how to deal with it

In [ ]:
import pandas as pd
import numpy as np

df = pd.Series([2,3,np.nan,7,10,])

df.isnull()

In [ ]:
#drop missing data

df.dropna()

In [ ]:
# count missing cells

print(df.isnull().sum())

In [ ]:
# count total missing cells

print(df.isnull().values.sum())

In [ ]:
# Import modules
import pandas as pd
import numpy as np


#using the data from the earlier excerise
#change the values lower than -3 to 1


ser = pd.Series([0, 1, 2, 3, 4])

ser.replace(0, 5)

In [ ]:
data = {
  "calories": [420, 380, 390, 380],
  "duration": [50, 40, 45,40]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

df.replace(50, 5)
df['duration'].replace(50, 5)

## Statistics using Python

In [ ]:
from statistics import mean

# list of positive integer numbers
data1 = [1, 3, 4, 5, 7, 9, 2]
 
x = mean(data1)
x

In [ ]:
from statistics import median

# list of positive integer numbers
data1 = [1, 3, 4, 5, 7, 9, 2]
 
x = median(data1)
x

In [ ]:
from statistics import mode

# list of positive integer numbers
data1 = [1, 3, 4, 4, 7, 9, 2]
 
x = mode(data1)
x

In [ ]:
import statistics as s

# list of positive integer numbers
data1 = [1, 3, 4, 4, 7, 9, 2]
 
x = s.variance(data1)
x

In [ ]:
x = s.stdev(data1)
x

In [ ]:
experience = [1, 3, 4, 5, 5, 6, 7, 10, 11, 12, 15, 20, 25, 28, 30,35]

salary = [20000, 30000, 40000, 45000, 55000, 60000, 80000, 100000, 130000, 150000, 200000, 230000, 250000, 300000, 350000, 400000]

s.correlation(experience,salary)

## Calculations  (lambda, apply())

We can apply a lambda function to both the columns and rows of the Pandas data frame. 
An anonymous function which we can pass in instantly without defining a name or any thing like a full traditional function.

In [ ]:
import pandas as pd

data = {
  "price": [420, 380, 390, 380],
  "quantity": [50, 40, 45,40]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)
df

In [ ]:

df = df.assign(Total_Sales = lambda x: (x['price'] * x['quantity']))
 
# displaying the data frame
df

## .apply() method.

.apply() method. This function acts as a map() function in Python. It takes a function as an input and applies this function to an entire DataFrame.

In [ ]:
# Gather sum of all columns
stat_totals = df.apply(sum, axis=0)
print(stat_totals)