## Below are some excerises goes over what we just covered.  Please try..

In [ ]:
#Create an object with some value either string or numeric

In [ ]:
x=1
x

In [ ]:
#There is a problem with the object below, please descripe the issue using a comment #

2myvar = "John"

#objects/variables cannot start with a number

In [ ]:
#Check data type
x = 5
y = "John"

type(x)
type(y)

In [ ]:
#create a list of numerical values
dlist= [1,2,3]

In [ ]:
#Call in a module "math" , give it a new name , and call in the stored value pi

import math as m
m.pi

## Make a pandas dataframe using the DataFrame() function

In [ ]:
import pandas as pd

data = {
  "calories": [420, 380, 390, 380],
  "duration": [50, 40, 45,40]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

## Checking for Missing values

In [ ]:
import pandas as pd
import numpy as np

data = {
  "calories": [420, 380, np.nan,380],
  "duration": [50,np.nan, 45,40]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

In [ ]:
# count missing cells by column

print(df.isnull().sum())

In [ ]:
# count total missing for the whole dataframe

print(df.isnull().values.sum())

In [ ]:
#Using the statistics module use the mean function to calculate the mean value of the list below

from statistics import mean

# list of positive integer numbers
data1 = [1, 3, 4, 5, 7, 9, 2]
 
x = mean(data1)
x