In [ ]:
# find the letter in the first position
#hint use 0 to find the first positoin

s = 'Hello'
print(s[0])

In [4]:
# add a numerical value to a string

pi = 3.14
    
text = 'The value of pi is '  + str( pi )  

print(text)

The value of pi is 3.14

In [5]:
# get the lenght of a stored string value

len(text)

23

In [ ]:
#The replace() method replaces a string with another string:
a = "Hello, World!"
print(a.replace("Hello", "Yo"))

In [6]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [ ]:
# split column into two columns , Pandas

import pandas as pd
df = pd.DataFrame({
    'name': ['Alberto  Franco','Gino Ann Mcneill','Ryan  Parkes', 'Eesha Artur Hinton', 'Syed  Wharton'],
    'date_of_birth ': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})

print(df)


df[["first", "middle", "last"]] = df["name"].str.split(" ", expand = True)