In [ ]:
import sqlite3
import pandas as pd

In [ ]:
# Create the connection and the database that we are calling test (test.db)

conn = sqlite3.connect('test.db')

In [ ]:
#creating a table in the database test calling it COMPANY

conn.execute('''CREATE TABLE COMPANY
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL);''')

In [ ]:
conn = sqlite3.connect('test.db')
#enter data into the table COMPANY from the test database

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Paul', 32, 'California', 20000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Allen', 25, 'Texas', 15000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )");

conn.commit()
# it is important to call this method (.commt()) after every 
# transaction that modifies the table so that it stores it correctly

In [ ]:
#pull the data from COMPANY table 

cursor = conn.execute("SELECT id, name, address, salary from COMPANY").fetchall()
print(cursor)  #display what we have collected

Lets use Pandas to get this same data from the database.  The connection
still needs to be live.

In [ ]:
df = pd.read_sql_query("SELECT * from COMPANY", conn)

# Verify that result of SQL query is stored in the dataframe
print(df.head())

In [ ]:
conn.close()  #close the connection to the database

In [ ]:
#can we still use the pandas dataframe that has the data from the database?

df

In [ ]:
#lets try to use pandas to get more data from the database without the connection being live.

dft = pd.read_sql_query("SELECT ID from COMPANY", conn)